* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  margin: 0;
}

ul {
  list-style: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}
